@use "./variables.scss";

@mixin navBottom_menu{
    display: flex;
    list-style: none; 
    position: fixed;
    bottom: 0;
    right: 0;
    justify-content:space-evenly;
    width: 100%;
    margin: 0;
    padding-block: 10px;
    background-color: variables.$colorBlack;
    a{
        text-decoration: none;
        font-size: 25px;
        font-weight:600;
        padding-inline: 25px;
        padding-block: 5px;
        color:variables.$bgBody;
        border-radius: 20px;
        &:hover{
         background: variables.$colorGreen;
         color:variables.$bgBody;   
        }
    }
}
